# BEGIN SLIMFRAMEWORK #

# Redirects all requested files back to the index.php file
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# END SLIMFRAMEWORK #
